body{
    @import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
    margin: 0;
    font-family:'Neonderthaw', cursive;
    background-color: skyblue;
}


img{
     border: 5px solid black;
    border-radius: 5%;
    width: 200px;
    margin:20px;
    transition: 1s;
}
*{
    text-align: center;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.evszakok{
    float: left;
}

img:hover{
    transform: scale(1.2);
}

p{
 font-family:  Verdana, Geneva, Tahoma, sans-serif;
 font-size: large; 
 
}

img:hover + p {
    font-size: large;
    transition: 1s;
}
