img{
width: 350px;
height: 300px;
border-radius: 200px;
}

body{
    background-color: purple;
    
}

td{
    color: lime;
    text-align: center;
}

table{
    width:766px;
    height:770px;
    margin: 0 auto 0 auto;
}
